[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
fastapi = "*"
bcrypt = "*"
email-validator = "*"
psycopg2 = "*"
uvicorn = "*"

[dev-packages]
fastapi = {extras = ["standard"], version = "*"}
pre-commit = "*"
ruff = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-repeat = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
